<div id="product-list">
	<div class="clearfix">
		<div class="">
			<a href="/admin/products/new">
				<i class="icon icon-plus"></i>
				Agregar producto
			</a>
		</div>
	</div>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Nombre del producto</th>
				<th>Descripción</th>
				<th>Precio</th>
				<th>Acción</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="product-name"></td>
				<td class="product-description"></td>
				<td class="product-price"></td>
				<td class="product-action">
					<a href="" class="edit">Editar</a>
				</td>
			</tr>
		</tbody>
		<tfoot>

		</tfoot>
	</table>
</div>