<div style="margin: 10px auto; float:none; text-align: center; width: 280px;">
  <h3>¡Bienvenido de vuelta!</h3>
  <div class="">
    <div id="content-header">
    </div>
  </div>
  <form action="/users/validate" method="post">
    <input placeholder="Correo electrónico" class="input-block-level" type="text" name="email">
    <input placeholder="Contraseña" class="input-block-level" type="password" name="password">
    <div>
      <button type="submit" class="btn btn-block btn-primary">Iniciar sesión</button>
    </div>
    <p class="center" style="margin-top: 6px;">
      <strong>
        <small><a href="/user/forgot-password">¿Olvidaste tu contraseña?</a></small>
      </strong>
    </p>
  </form>
</div>