div.container {
    background: white;
}

div.logo {
    text-align: center;
    padding: 20px;
}

.cafe-categories {
    background: #f26a65;
    text-align: center;
}

.cafe-categories {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.cafe-categories li {
    display: inline;
    margin: 0px 30px 0px 30px;
}

.cafe-categories .cafe-category a {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.hiden{
    display: none;
}